*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.container{
    outline: 1px solid gray;
    width: 90%;
    height: 90%;
    margin: 3% auto;
    padding: 0;
}

.header{
    background-color: darkgray;
    position: relative;
    height: 30px;
}
.h_back{
    font-size: 20px;
    line-height: 30px;
    color: black;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    margin-left: 5%;
}
.header_title{
    color: white;
    height: 100%;
    line-height: 30px;
    text-align: center;
}
.container > div{
    width: 100%;
}
.content > div{
    width: 90%;
    margin: 20px auto;
}
.content > div >div{
    margin-top: 20px;
}

.protocol span{
    color: #3127cc;
}
.reminder{
    display: none;
    height: 30px;
    line-height: 30px;
    color: red;
    text-align: center;
}
.footer{
    background-color: gray;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin: 30px auto;
}
.count_down{
    display: none;
}
